* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.flex-container-main {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.flex-container-slider {
    width: 100%;
}

.slider {
    width: 90%;
}

.slider-value {
    width: 5%;
    text-align: center;
}

