@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --background: #5bc0eb;
    --alive: #000000;
    --dead: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background, #ffffff);
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.flex-container-set-board {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.flex-container-slider-board {
    width: 100%;
}

.slider-board {
    width: 90%;
}

.slider-board-value {
    width: 5%;
    text-align: center;
    margin: 1rem auto;
}

.slider-board-value-selected {
    width: 100%;
}

.button {
    text-transform: uppercase;
    font-size: 18px;
    padding: 7px 20px;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    background-color: #ffffff;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#button-set-board {
    margin: 1rem auto;
}

.flex-container-board-and-settings {
    flex-direction: column-reverse;    
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    display: none;
    background: none;
}

.flex-container-settings {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding-top: 50px;
}

.grid-container-board {
    display: grid;
    border-width: 0 1px 1px 0;
    margin-top: 200px;
}

.cell-board {
    border: 1px solid var(--background, #000000);
    border-width: 1px 0 0 1px;
}

.cell-board:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.50);
}

.cell-board:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
}

.iterations-count, .game-mode, .information-board-size {
    position: absolute;
    top: 0;
    left: 10px;
}

.game-mode {
    top: 25px;
}

.iterations-count {
    top: 50px;
}

.settings {
    margin: 20px 0;
    user-select: none;
}

.button-play {
    margin: 20px 0;
}

.settings p {
    margin: 0;
}

input[type="color"] {
    border: none;
    background: none;
    cursor: pointer;
}

input[type="color"]:focus {
    outline: none;
}

.control-play {
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.control-play:hover {
    transform: translateY(-3px);
}

.control-play:active {
    transform: translateY(-1px);
}

.cell-dead {
    background-color: var(--dead, #000000);
}

.cell-alive {
    background-color: var(--alive, #ffffff);
}

.information-game {
    font-weight: bold;
    color: #2d3436;
}

.slide-iteration-time-selected {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.alert {
    width: 100vw;
    height: 100vh;
    position: absolute;
    cursor: pointer;
    background-color: #dfe6e9;
    opacity: .75;
    display: none;
    top: 0;
}
  
.alert-msg {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert-msg h1 {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 200;
}

.title-game {
    text-transform: uppercase;
    letter-spacing: 15px;
}


@media screen and (min-width: 680px) {
    .flex-container-board-and-settings {
        flex-direction: row;    
        display: none;
    }
    
    .flex-container-settings {
        padding-top: inherit;
        flex-basis: 300px;
    }

    .grid-container-board {
        margin-top: inherit;
    }
}