@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.flex-container-set-board {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.flex-container-slider {
    width: 100%;
}

.slider {
    width: 90%;
}

.slider-value {
    width: 5%;
    text-align: center;
    margin: 1rem auto;
}

.slider-value-selected {
    width: 100%;
}

.button {
    text-transform: uppercase;
    font-size: 18px;
    padding: 7px 20px;
    outline: none;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.button-set {
    margin: 1rem auto;
}

.flex-container-board {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #7bed9f;
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 800ms;
}